.row {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 18px;

    @media (max-width: 600px) {
        flex-direction: column;
    }
    @media (max-width: 1400px) {
        padding: 30px;
    }
}
.col-2 {
    max-width: 100%;
    @media (min-width: 600px) {
        max-width: calc((100% / 2) - 18px);
    }
    @media (min-width: 768px) {
        max-width: calc((100% / 3) - 18px);
    }
    @media (min-width: 992px) {
        max-width: calc((100% / 4) - 18px);
    }
    @media (min-width: 1200px) {
        max-width: calc((100% / 5) - 18px);
    }
}
.col-6 {
    @media (min-width: 768px) {
        max-width: calc((100% / 2) - 18px);
        display: block;
    }
    // @media (min-width: 992px) {
    //     max-width: calc((100% / 4) - 18px);
    // }
    // @media (min-width: 1200px) {
    //     max-width: calc((100% / 5) - 18px);
    // }
    // @media (min-width: 1400px) {
    //     max-width: calc((100% / 6) - 18px);
    // }
}
